.projectDetails {
    padding: 20px;
    width: 100%;
}

.projectDetails h1,
.projectDetails h2,
.projectDetails p {
    margin-bottom: 10px;
}

.projectDetails h1 {
    background-color: #222;
    color: #ffbb33;
    padding: 8px;
}

.projectDetails span {
    font-weight: bold;
}

.detailsContainer,
.serviceFormContainer {
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: .5s;
    border-radius: 10px;
    cursor: pointer;
    max-height: 40px;
    border: none;
}

.btn:hover {
    color: #ffbb33;
}

.projectInfo {
    margin-top: 20px;
    width: 100%;
}