.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.socialList {
    display: flex;
    justify-content: center;
    list-style: none;
}

.socialList li {
    margin: 0 10px;
}

.socialList li:hover {
    color: #ffbb33;
}

.socialList svg {
    font-size: 20px;
    cursor: poitner;
}

.copyRight {
    margin-top: 10px;
}

.copyRight span {
    font-weight: bold;
    color: #ffbb33;
}