.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 15px;
}

.logo {
    width: 50px;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.item {
    margin-right: 12px;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}